<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	<!-- 手動配置 (字面值得配置) -->  
	<bean id="color" class="com.study.spring2.case02.Color"
		p:id="1" p:name="Yellow" />
	
	<bean id="red" class="com.study.spring2.case02.Color"
		p:id="2" p:name="Red" />
	<!----> 	
	<bean id="size" class="com.study.spring2.case02.Size"
		p:id="1" p:name="A4" />
		 
	<bean id="b5" class="com.study.spring2.case02.Size"
		p:id="2" p:name="B5" />
	<!-- 
	<bean id="paper1" class="com.study.spring2.case02.Paper"
		p:id="101" p:color-ref="color" p:size-ref="size" />
	 	  --> 
	<!-- 自動配置 autowire="constructor" / schema-c --> 
	<bean id="paper2" class="com.study.spring2.case02.Paper"
		c:id="102" autowire="constructor" />
	
	<!-- 自動配置 autowire="byType" / schema-p 
	<bean id="paper3" class="com.study.spring2.case02.Paper"
			p:id="103" autowire="byType" />
			-->
	<!-- 自動配置 autowire="byName" / schema-p -->
	<bean id="paper4" class="com.study.spring2.case02.Paper"
			p:id="104" autowire="byName" />
</beans>

<!-- 
<bean id="color2" class="com.study.spring2.case02.Color"
		p:id="2" p:name="Orange" />
-->
<!--
	<bean id="student1" scope="singleton"
		class="com.study.spring2.case02.Student"
		p:id="1001" p:name="John"
		init-method="init"
		destroy-method="destroy" />
 
	<bean id="clazz1" scope="prototype" class="com.study.spring2.case02.Clazz" 
		p:id="501" p:name="Program" p:credit="3" />	
	<bean id="clazz2" scope="prototype" class="com.study.spring2.case02.Clazz" 
		p:id="502" p:name="Math" p:credit="1" /> 	
	<bean id="clazz3" scope="prototype" class="com.study.spring2.case02.Clazz" 
		p:id="503" p:name="English" p:credit="1" /> 
	<bean id="clazz4" scope="prototype" class="com.study.spring2.case02.Clazz" 
		p:id="501" p:name="Program" p:credit="3" />
		
	<bean id="studentOfClazz1" scope="singleton" class="com.study.spring2.case02.StudentOfClazz"
		p:id="1001" p:name="John"
		init-method="init"
		destroy-method="destroy">
		<property name="clazzs">
			<set>
				<ref bean="clazz1"/>
				<ref bean="clazz2"/>							
			</set>		
		</property>
	</bean>	
	
	<bean id="studentOfClazz2" scope="singleton" class="com.study.spring2.case02.StudentOfClazz"
		p:id="1002" p:name="Mary"
		init-method="init"
		destroy-method="destroy">
		<property name="clazzs">
			<set>
				<ref bean="clazz2"/>
				<ref bean="clazz3"/>								
			</set>		
		</property>
	</bean>		
	
	<bean id="studentOfClazz3" scope="singleton" class="com.study.spring2.case02.StudentOfClazz"
		p:id="1003" p:name="David"
		init-method="init"
		destroy-method="destroy">
		<property name="clazzs">
			<set>
				<ref bean="clazz2"/>
				<ref bean="clazz4"/>					
			</set>		
		</property>
	</bean>		

	<bean id="teacher" scope="singleton" class="com.study.spring2.case02.Teacher"
		p:id="1" p:name="bob">
		<property name="studentOfClazzs">
			<set>
				<ref bean="studentOfClazz1" />
				<ref bean="studentOfClazz2" />
				<ref bean="studentOfClazz3" />
			</set>
		</property>
-->		
		<!-- 注入到 public void setSubjects(List<String> subjects) -->
<!-- 
		<property name="subjects"> 
			<list>
				<value>Program</value>
				<value>Math</value>
				<value>English</value>
			</list>
		</property>
-->		
		<!-- 注入到 public void setSalary(Map<String, Integer> salary) -->
<!-- 
		<property name="salary">
			<map>
				<entry key="base">
					<value>50000</value>				
				</entry>
				<entry key="addition">
					<value>20000</value>				
				</entry>
			</map>
		</property>		
	</bean>
 -->
 <!--	
	<bean id="teacher2" scope="singleton" class="com.study.spring2.case02.Teacher"
		p:id="2" p:name="Jessica" p:studentOfClazzs-ref="studentOfClazzs"
		p:subjects-ref="subjects" p:salary-ref="salary" />
			
		<util:set id="studentOfClazzs">
			<ref bean="studentOfClazz1" />
			<ref bean="studentOfClazz3" />
		</util:set>
		
		<util:list id="subjects">
			<value>Java</value>
			<value>Python</value>
		</util:list>
		
		<util:map id="salary">
			<entry>
				<key>
					<value>base</value>
				</key>
				<value>60000</value>
			</entry>
			<entry>
				<key>
					<value>addition</value>
				</key>
				<value>25000</value>
			</entry>
		</util:map>
 -->
 	<!-- 1. 資源文件加載 -->
<!--  	 	
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 		<property name="location" value="user.properties"></property>
 		<property name="ignoreUnresolvablePlaceholders" value="true"/>
 		<property name="order" value="1"></property>
 	</bean>
 	 
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 		<property name="location" value="customer.properties"></property>
 		<property name="ignoreUnresolvablePlaceholders" value="true"/>
 		<property name="order" value="2"></property>
 	</bean>
 --> 	 	 
 	<!-- 2. 資源文件加載 -->
<!--  	
 	<context:property-placeholder location="user.properties,customer.properties"/>   	 
 	<bean id="teacher3" scope="singleton" class="com.study.spring2.case02.Teacher"
		p:id="${teacher.id}" p:name="${teacher.name}" p:studentOfClazzs-ref="studentOfClazzs"
		p:subjects-ref="subjects" p:salary-ref="salary" />
 	
 	<bean id="profession" scope="singleton" class="com.study.spring2.case02.Profession"
		p:id="${customer.id}" p:name="${customer.name}" p:studentOfClazzs-ref="studentOfClazzs"
		p:subjects-ref="subjects" p:salary-ref="salary" />
	 
--> 
	<!-- Factory Bean -->
<!--
	<bean id="carFactory" class="com.study.spring2.case02.CarFactory"
		init-method="init"
		destroy-method="destroy"/>
 -->		
	